@charset "UTF-8";
/* position about go link button */
.buttonPosition {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 30px;
}

h2 {
	color: rgba(90, 50, 90);
}
/* Style the navigate button */
.golink {
	padding: 25px;
	margin: 0 20px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #fff;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	background-color: rgba(90, 50, 90);
}

.golink:hover {
	background-color: rgba(90, 50, 90);
}

.golink:active {
	box-shadow: 0 5px #666;
	transform: translateY(4px);
	background-color: rgba(90, 50, 90);
}